@charset "UTF-8";

/* Layout (global rules for all sizes) */

body {
	margin: 0; padding: 0;
	}
header a.logo {
	display: block;
	position: absolute;
	background-position: top right;
	background-repeat: no-repeat;
	}
/* Layout Large Screens (default for older browsers) */

header {
	height:1080px;
	background: url(../images/city01_main02.jpg) no-repeat 0px 0px;
	}

header a.logo {
	width: 350px;
	height: 85px;
	top: 30px;
	left: 60px;
	background-image: url(../images/logo_large.png);
	}
	
	/*Nav styles*/
.pageHeader nav {
	background: rgba(35, 31, 32, .8);
	height: 100px; /*header thread*/
	width: 1800px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.pageHeader ul {
	list-style: none;
	margin-left: 500px;
}
.pageHeader li {
	float: left;
	margin-right: 64px;
}
.pageHeader a {
	color: white;
	text-decoration: none;
	line-height: 65px;/*45*/
	font-size: .9em;
	text-transform: lowercase;
}
.pageHeader a:hover {
	color: rgb(25, 100, 150);
	background: none;
}

@media screen and (max-width:990px) {
	footer { padding-left: 20px; }	
}